@import "../../App.scss";

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    width: 100%;

    @include mobile {
      flex-direction: column;
      gap: 40px;
    }

    .textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include mobile {
        gap: 10px;
        text-align: center;
        font-size: 14px;
        height: 50%;
      }

      h1 {
        font-size: 72px;
        line-height: 85%;

        @include mobile {
          font-size: 50px;
        }
      }
      p {
        font-size: 14px;

        @include mobile {
          font-size: 10px;
        }
      }
    }

    .formContainer {
      width: 100%;
      position: relative;

      @include mobile {
        height: 80%;
        width: 80%;
        margin: 10px auto;
      }

      .phoneSvg {
        stroke: orange;
        position: absolute;
        margin: 10px auto;
        z-index: -1;

        svg {
          @include mobile {
            height: 90%;
            width: 100%;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          color: white;
          background-color: transparent;
          outline: none;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 10px;
        }
        textarea {
          color: white;
          background-color: transparent;
          outline: none;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 10px;
          height: 200px;

          @include mobile {
            height: 100px;
          }
        }
        button {
          cursor: pointer;
          border: none;
          background-color: orange;
          padding: 12px;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}
