.sidebar {
  color: black;
  display: flex;

  .bg {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: white;
  }
  .links {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      font-size: 40px;
    }
  }
  button {
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 26px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
